
.add-product-container {
  position: fixed; /* Change from absolute to fixed */
  top: 50%; /* Move the container down by half of the viewport height */
  left: 50%; /* Move the container horizontally by half of the viewport width */
  transform: translate(-50%, -50%); /* Center the container */
  max-height: 90vh; /* Limit the maximum height of the container */
  width: calc(80% - 90px); /* Adjust the width by subtracting sidebar width */
  max-width: 600px; /* Maximum width of the container */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow on all sides */
  margin-top: 15px;
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: hidden; /* Remove horizontal scrolling */
  z-index: 5; /* Ensure it is below the sidebar */
}


.add-product-form {
 
  padding: 1rem;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: 1px solid #000000; /* Add border */
  box-sizing: border-box;
  overflow-y: auto;
  width: calc(100% - 2rem); /* Adjust width to fit within container */
  max-width: 600px; /* Maximum width of the form */
}


.add-product-form h1 {
  text-align: center; /* Center the heading */
  color: #2e2e2e; 
}

.add-product-form form {
  display: flex;
  flex-direction: column;
  align-items: stretch; /* Ensure form fields stretch to fill container */
}

.add-product-form label {
  margin-top: 0.5rem; /* Reduce margin-top for closer alignment */
  color: rgb(65, 65, 65); /* Set label text color to black */
}

.add-product-form input,
.add-product-form textarea,
.add-product-form select {
  padding: 0.5rem;
  margin-top: 0.3rem; /* Reduce margin-top for closer alignment */
  margin-bottom: 0.5rem; /* Add margin-bottom for spacing between fields */
  border: 1px solid #383636;
  border-radius: 5px;
  width: calc(100% - 1rem); /* Adjust width to account for padding */
  box-sizing: border-box; /* Ensure padding and border are included in width */
}



.add-product-form button {
  margin-top: 1rem;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  width: 100%; /* Ensure button takes full width */
  box-sizing: border-box; /* Ensure padding and border are included in width */
}

.add-product-form button:hover {
  background-color: #0056b3;
}

.variant {
  margin-top: 1rem; /* Add more space above the variant section */
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  padding: 1rem;
  overflow: auto; /* Enable scrolling if content exceeds box height */
}

.variant label {
  margin-top: 0.5rem;
  flex: 1 0 100%; /* Make labels full width */
  text-align: left; /* Align labels to the left */
}

.variant input,
.variant select {
  flex: 1 1 calc(33.333% - 1rem); /* Adjust width of input fields */
  margin-top: 0;
}

.variant button {
  margin-top: 0.5rem;
  background-color: #dc3545;
  flex: 1 0 100%; /* Make button full width */
}

.variant button:hover {
  background-color: #c82333;
}
